<h2>About Us</h2>
<div class="row">
    <div class="well">
        <h4>This site was designed following the tutorial instructions of the Complete Web Developer Bootcamp Rails tutorial through <a href="http://courses.codermanual.com">Coder Manual</a>.</h4>
        <p>Created by: Brandon Thimmesch (2015)</p>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <a class="btn btn-success btn-lg btn-block", href="https://github.com/brandon-thimmesch">My Github</a>
        <a class="btn btn-success btn-lg btn-block", href="https://www.linkedin.com/in/brandonthimmesch">My Linkedin</a>
    </div>
</div>